---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/kk2bw5ojx476/environments/master/entries?content_type=recipe&select=fields.title,fields.photo,fields.tags,fields.description,fields.chef,sys&sys.id=invalid_id
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.15.4; platform ruby/2.7.1; os macOS/19;
      Authorization:
      - "<SENSITIVE_DATA>"
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"10440568906820546102"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      X-Contentful-Request-Id:
      - d057b36f-eb7c-44c6-b6d2-c2546831608e
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Sun, 04 Oct 2020 23:57:17 GMT
recorded_with: VCR 6.0.0
