---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/kk2bw5ojx476/environments/master/entries?content_type=recipe&limit=2&select=fields.title,fields.photo,fields.tags,fields.description,fields.chef,sys&skip=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.15.4; platform ruby/2.7.1; os macOS/19;
      Authorization:
      - "<SENSITIVE_DATA>"
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"13473995976421107401"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      X-Contentful-Request-Id:
      - 1e6aade5-cd7f-498b-b489-67e8a7a6f14a
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "AccessTokenInvalid"
          },
          "message": "The access token you sent could not be found or is invalid.",
          "requestId": "5bc180f6-ba63-49e9-8d17-73f956701d17"
        }
  recorded_at: Mon, 05 Oct 2020 00:00:10 GMT
recorded_with: VCR 6.0.0
